{% extends "Risk_Indicators_Risk.html" %}
{% block content %}
<div data-role="collapsible-set">
  <div data-role="collapsible" data-collapsed="true">
    <h3>Select zone to display</h3>
    <form action="#" method="post" data-ajax="false">{% csrf_token %}
    	{{ form.as_p }}
    	<p><label for="id_zone">Zone:</label> <select id="id_zone" name="zone">
    	{% for zone in zones %}
    		<option value="{{ zone.zone_Name }}">{{ zone.zone_Name }}</option>
    	{% endfor %}
    	</select></p>
    	<input type="submit" value="Display" />
    </form>
  </div>
</div>
<h3 class="ui-bar ui-bar-a ui-corner-all">Risk level by zone</h3>
	<canvas id="canvasZone" height="400" width="800"></canvas>
	<script>
		var zoneData = {
			labels : ["0 - No Risk","1 - No Risk","2 - Low Risk","3 - Medium","4 - High","5 - Very High","6 - Very High","7 - Very High","8 - Very High","9 - Very High","10 - Very High"],
			datasets : [
				{
					fillColor : "rgba(151,187,205,0.5)",
					strokeColor : "rgba(151,187,205,1)",
					pointColor : "rgba(151,187,205,1)",
					pointStrokeColor : "#fff",
					data : [{{ Liste0 }},{{ Liste1 }},{{ Liste2 }},{{ Liste3 }},{{ Liste4 }},{{ Liste5 }},{{ Liste6 }},{{ Liste7 }},{{ Liste8 }},{{ Liste9 }},{{ Liste10 }}]
				}
			]
			
		}

	var myLine = new Chart(document.getElementById("canvasZone").getContext("2d")).Line(zoneData);
	
	</script>
{% endblock %}