{% extends "Risk_Admin.html" %}
{% block title %}
[ Risk Management ] --- [ Admin data ] --- [ Softwares ]
{% endblock %}
{% block menuTop %}
<div data-role="navbar">
    <ul>
		<li><a href="/sam/admin/appImported/" data-role="button" data-icon="search" ajax='false'>New Softwares Imported</a></li>
		<li><a href="/sam/admin/appAnalysedFREE/" data-role="button" data-icon="plus" ajax='false'>Softwares Analysed</a></li>
		<li><a href="/sam/admin/appNotAnalysed/" data-role="button" data-icon="forbidden" ajax='false'>Softwares not analysed</a></li>
    </ul>
</div>
{% endblock %}
{% block content %}
{% endblock %}
