{% extends "Risk_Admin_Localisation.html" %}
{% block content %}
<div data-role="collapsible-set">
	<div data-role="collapsible">
		<h3>New "Country code"...</h3>
		<form action="#" method="post" data-ajax="false">{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="Add country" />
		</form>
	</div>
	<div data-role="collapsible" data-collapsed="false">
		<h3>Countries of the zone...</h3>
		<ul data-role="listview">
			{% for pay in pays %}
			<li><a href="/sam/admin/countries/{{ pay.id }}/">{{ pay.country_Name }}<span class="ui-li-count">{{ pay.country_Nbre_Countries_Imported }}</span></a></li>
			{% endfor %}
		</ul>				
	</div>			
</div>			
{% endblock %}
