{% extends "base.html" %}
{% block title %}
[ Software Asset Management ] --- [ Risk Management ]
{% endblock %}
{% block content %}
<h3 class="ui-bar ui-bar-a ui-corner-all">Analysis and Risk Management</h3>
      <div class="ui-body ui-body-a ui-corner-all">
		<ul data-role="listview">
			<li>Risk Management
				<ul>
					<li>List of risk items</li>
					<li>Risk not studied</li>
				</ul>
			</li>
		</ul>
      </div>
{% endblock %}
{% block footer %}
<!-- 	<a href="/sam/risk/analyseForbidden/" data-role="button" data-icon="edit" ajax='false'>Analyses</a>
	<a href="/sam/risk/risk/List/" data-role="button" data-icon="edit" ajax='false'>Risk management</a> -->
{% endblock %}