{% extends "base.html" %}
{% block title %}
[ Asset Management ]
{% endblock %}
{% block content %}
<h3 class="ui-bar ui-bar-a ui-corner-all">Asset Management</h3>
      <div class="ui-body ui-body-a ui-corner-all">
		<ul data-role="listview">
			<li>Software Risk
				<ul>
					<li>Admin data</li>
					<li>Import data</li>
					<li>Risk Analysis</li>
					<li>Indicators</li>
				</ul>
			</li>
<!-- 			<li>Software catalog
				<ul>
					<li>Catalog</li>
					<li>Request management</li>
					<li>CVC</li>
				</ul>
			</li>
			<li>Hardware Management
				<ul>
					<li>Ressource unit inventory</li>
					<li>Triangle analysis</li>
				</ul>
			</li> -->
		</ul>
      </div>
{% endblock %}
{% block footer %}
<h3>
[ Michelin ] --- [ Welcome to the Software Asset Management tools ] --- [ DGSI/IN ]
</h3>
{% endblock %}	